/* Buttons */

.btn{

    display:inline-block;

    padding:14px 30px;

    border-radius:40px;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

}

.btn-primary{

    background:var(--primary);

    color:white;

}

.btn-primary:hover{

    transform:translateY(-4px);

}

.btn-secondary{

    background:white;

    color:var(--primary);

    border:2px solid var(--primary);

}

.btn-secondary:hover{

    background:var(--primary);

    color:white;

}

/* Cards */

.card{

    background:white;

    border-radius:20px;

    box-shadow:var(--shadow);

    padding:30px;

}