@media(max-width:900px){

.navbar{

flex-direction:column;

gap:20px;

}

.hero{

flex-direction:column;

text-align:center;

}

.hero-content{

width:100%;

}

.hero-image{

margin-top:40px;

font-size:120px;

}

.nav-links{

flex-direction:column;

gap:15px;

}

.hero-buttons{

justify-content:center;

flex-wrap:wrap;

}

}